th, td {
  text-align: left;
  border: 1px solid black;
  padding: 8px;
}

button {
  font-family: Arial;
  background-color: #eee;
  border: 1px solid;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #cfd8dc;
}

button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}
