<nav class="navbar navbar-dark bg-dark mb-0">
  <a class="navbar-brand" href="/">Angular shop</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link" *ngIf="isAdmin()" routerLink="/admin">Admin</a>
        <a class="nav-item nav-link" routerLink="/products">Products</a>
        <a class="nav-item nav-link" routerLink="/cart">Cart ({{ cartSize() }})</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
        <a class="nav-item nav-link"> <span>{{ getUsername() }}</span></a>
        <a class="nav-item nav-link" *ngIf="isAuthenticated()" (click)="logout()">Logout</a>
        <a class="nav-item nav-link" *ngIf="!isAuthenticated()" routerLink="/login">Login</a>
    </div>
  </div>
</nav>
<h3>
    <ng-content select="[header-text]"></ng-content>
</h3>
