<form (ngSubmit)="save()" id="product-form" #form="ngForm">
  <table>
    <tr>
      <th></th>
      <th></th>
    </tr>
    <tr>
      <td>Name</td>
      <td>
        <input
          type="text"
          id="name"
          name="name"
          class="form-control"
          [(ngModel)]="product.name"
          required
        />
      </td>
    </tr>
    <tr>
      <td>Description</td>
      <td>
        <input
          type="text"
          id="description"
          name="description"
          class="form-control"
          [(ngModel)]="product.description"
        />
      </td>
    </tr>
    <tr>
      <td>Price</td>
      <td>
        <input
          type="text"
          id="price"
          name="price"
          class="form-control"
          [(ngModel)]="product.price"
        />
      </td>
    </tr>
    <tr>
      <td>Available</td>
      <td>
        <input
          type="checkbox"
          id="isAvailable"
          name="isAvailable"
          [(ngModel)]="product.isAvailable"
        />
      </td>
    </tr>
    <tr>
      <td>Stores</td>
      <td>
        <input
          type="text"
          id="stores"
          name="stores"
          class="form-control"
          [(ngModel)]="product.stores"
        />
      </td>
    </tr>
  </table>

  <button type="submit" form="product-form">Save</button>
  <button (click)="back()">Back</button>
</form>
