<div *ngIf="!isEmpty(); else emptyCartTemplate">
  <header>
    <span header-text>Items in the cart:</span>
  </header>
  <button (click)="onClear()">Clear all</button>

  <table>
    <thead>
      <th>Name</th>
      <th>Price</th>
      <th>Set new quantity</th>
      <th>Action</th>
    </thead>
    <tbody *ngFor="let item of items">
      <tr cart-item [item]="item" change-background="red"></tr>

    </tbody>
    <tr>
      <th>Total items</th>
      <th>{{totalItems}}</th>
    </tr>
    <tr>
      <th>Total Price</th>
      <th>{{getTotalPrice()}}</th>
    </tr>
  </table>

  <ng-template #emptyCartTemplate>
    <header>
      <span header-text>Products cart is empty</span>
    </header>
  </ng-template>