<div class="panel panel-default">
  <div class="panel-heading">Product</div>
  <div class="panel-body">
    <ul>
      <li *ngFor="let product of products">
        <ul>
          <li>Id: {{product.id}}</li>
          <li>name: {{product.name}}</li>
          <li>description: {{product.description}}</li>
          <li>price: {{product.price}}</li>
          <li>category: {{product.category}}</li>
          <li>isAvailable: {{product.isAvailable}}</li>
          <li>label: {{product.label}}</li>
        </ul>
      </li>
    </ul>
  </div>
</div>